<template>
  <div class=" row">
    <b-form-textarea
      id="spinned-textarea-input"
      v-model="textInput"
      placeholder="Entrez ici le contenu à spinner"
      rows="10"
      class="col-11 mx-5 my-5"
      name="spinned-textarea-input"
    />

    <div class="d-flex justify-content-sm-end col-12">
      <b-form-select v-model="selected" class="col-1" :options="options"/>
      <b-button-toolbar aria-label="" class="col-2">
        <b-button-group class="ml-3">
          <b-button variant="danger" @click="handleClearClick">Effacer</b-button>
          <b-button variant="success" @click="getSpinnedText">Envoyer</b-button>
        </b-button-group>
      </b-button-toolbar>

    </div>


    <b-form-textarea
      v-for="data in textOutput"
      :key="data"
      :value="data"
      id="spinned-textarea-output"
      placeholder="Contenu spinné"
      rows="10"
      class="col-11 mx-5 my-5"
      readonly
    />

  </div>

</template>

<script>

export default {
  name: 'SpinnedContent',
  data() {
    return {
      textInput: null,
      textOutput: null,
      selected: 1,
      options: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
    };
  },
  methods: {
    // methodes à implémenter
    handleClearClick() {
      this.textInput = null;
    },
    async getSpinnedText() {
      const text = this.textInput;
      const count = this.selected;

      const reply = await this.$http.post('/admin/spinned-content', { text, count });

      if (reply.errors) return;

      const { data } = reply;

      this.textOutput = data;
    },
  },
};
</script>